---
title: Projets
date: Last Modified
---
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="{{ '/css/styles.css' | url }}" rel="stylesheet">
</head>
<body>
<h1>{{ title }}</h1>
{{ content | safe }}
<footer>
<p>IUT de Saint Dié des Vosges - {{ page.date.toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) }}
</footer>
</body>
</html>
